@font-face {
    font-family: Montserrat-Medium; /* Имя шрифта */
    src: url(../fonts/Montserrat-Medium.ttf); /* Путь к файлу со шрифтом */
    font-weight: 500;
}

@font-face {
    font-family: Montserrat-Bold; /* Имя шрифта */
    src: url(../fonts/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: bold;
}

@font-face {
    font-family: Manrope-Number; /* Имя шрифта */
    src: url(../fonts/Manrope-ExtraBold.ttf); /* Путь к файлу со шрифтом */
    font-weight: 900;
}

@font-face {
    font-family: Oswald-Bold; /* Имя шрифта */
    src: url(../fonts/Oswald-Bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: bold;
}

@font-face {
    font-family: Rubik-Bold; /* Имя шрифта */
    src: url(../fonts/Rubik-Bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

*::selection {
    background: #FFE040;
    color: black;
}

img {
    pointer-events: none;
}

img::selection {
    background: transparent;
}

body::after{
    position:absolute; width: 0; height: 0; overflow:hidden; z-index:-1;
    content:url(../files/header/bg.svg);
 }

article {
    padding-top: 150px;
    margin: 0 auto;
    background: #000;
    padding-bottom: 35px;
}

@media (max-width: 820px) { 
    article {
        padding-top: 70px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 74.4375vw;
}

@media (max-width: 1190px) { 
    .wrapper {
        width: 95vw;
    }
}

.top-panel {
    max-width: 1050px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-bottom: 90px;
}

h2.top-panel__header {
    display: block;
    font-family: Oswald-Bold;
    font-size: 5rem;
    text-transform: uppercase;
    box-sizing: border-box;
}

@media (max-width: 820px) { 
    h2.top-panel__header {
        font-size: 3rem;
    }
}

p.top-panel__description {
    font-family: Montserrat-Medium;
    padding: 0px 25px;
    font-size: 1.8rem;
    margin-top: 40px;
}

/* Mobile menu */

.mobile-menu {
    position:fixed;
    top: 0;
    right: 0;
    background: #0E121C;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    box-shadow: -15px 16px 27px 0px rgba(255, 224, 64, 0.2);
}

.mobile-menu_virgin {
    display: none;
}

@keyframes menu {
    from { 
        width: 0;
        height: 0;
    }
    to { 
        width: 100vw;
        height: 100vh;
    }
}

@keyframes menuClose {
    0% { 
        width: 100vw;
        height: 100vh;
    }
    80% {
        font-size: 10px;
    }
    100% { 
        width: 0;
        height: 0;
    }
}

@keyframes linkRemoval {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 80vw;
    }
}

.mobile-menu.mobile-menu_active  {
    position:fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #0E121C;
    flex-direction: column;
    justify-content: center;
    animation: menu 1s;
    z-index: 2;
}

.mobile-menu.mobile-menu_closed {
    top: 0;
    right: 0;
    display: flex;
    animation: menuClose 1s;
    width: 0;
    height: 0;
    z-index: 2;
}

.mobile-menu.mobile-menu_closed nav a {
    animation: linkRemoval 1s;
}

.mobile-menu.mobile-menu_active .mobile-menu__close-button {
    display: block;
}

.mobile-menu.mobile-menu_closed .mobile-menu__close-button {
    display: none;
}

.mobile-menu__close-button {
    position: absolute;
    top: 10%;
    right: 10%;
    fill: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .5s;
}

.mobile-menu__close-button:hover {
    fill: #FFE040;
}

.mobile-menu .mobile-menu__nav{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mobile-menu .mobile-menu__nav a {
    font-size: 22px;
    color: white;
    font-family: Montserrat-Medium;
    cursor: pointer;
    margin-bottom: 40px;
    transition: .5s;
}

.mobile-menu .mobile-menu__nav a:hover {
    color: #FFE040;
}

.mobile-menu .mobile-menu__nav a {
    font-size: 22px;
    color: white;
    font-family: Montserrat-Medium;
    cursor: pointer;
    margin-bottom: 40px;
    transition: .5s;
}

.mobile-menu .social {
    margin-top: 40px
}

.mobile-menu .social a{
    margin-right: 30px;
}

.mobile-menu .social a:last-child{
    margin-right: 0;
}

/* Header */

header.header {
    margin: 0;
    padding-bottom: 200px;
    width: 100%;
    height: 100%;
    background-color: #0E121C;
    background-image: url(../files/header/bg.svg);
    background-position: 150px 0px;
    background-repeat: no-repeat no-repeat;
}


@media (max-width: 1370px) {
    header.header {
        background-position: 10% 0px;
    }
}

@media (max-width: 950px) {
    header.header {
        background-position: 20% 0px;
    }
}

@media (max-width: 600px) {
    header.header {
        padding-bottom: 50px;
    }
}

.header__top-panel {
    padding-top: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    flex-basis: 445px;
    display: flex;
    justify-content: space-between;
}

.header__top-panel__menu-button {
    display: none;
    cursor: pointer;
    fill: white;
    width: 45px;
    height: 45px;
    transition: .5s;
}

.header__top-panel__menu-button:hover {
    fill: #FFE040;
}

@media (max-width: 780px) {
    .header__nav {
        display: none;
    }
    .header__top-panel__menu-button {
        display: block;
    }
}

.header__nav a{
    color: white;
    font-family: Montserrat-Bold;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    user-select: none;
}

.header__nav a:hover {
    color: #FFE040;
}

.header__content {
    margin-top: 130px;
}

.header__content h1.header__content__text {
    max-width: 930px;
    font-family: Oswald-Bold;
    color: white;
    font-size: 5em;
    text-transform: uppercase;
}

@media (max-width: 1370px) {
    
    .header__content h1.header__content__text {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 950px) {
    .header__content h1.header__content__text {
        font-size: 2.5em;
    }
}


.header__content a.header__content_button {
    display: flex;
    position: static;
    margin-top: 100px;
    width: 330px;
    background: white;
    line-height: 65px;
    text-align: center;
    font-family: Rubik-Bold;
    text-transform: uppercase;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: .5s;
    align-items: center;
    justify-content: center;
}

.header__content a.header__content_button svg {
    width: 35px;
    height: 65px;
    filter: invert(100%);
    margin-right: 20px;
    z-index: 0;
}

.header__content a.header__content_button:hover {
    background: #FFE040;
}

/* Info */

.achievements-row {
    margin: 0 auto;
    max-width: 1350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.achievements-row:last-child {
    justify-content: center;
}

.achievements__item {
    width: 24.8vw;
    height: 24.8vw;
    padding: 45px 35px;
    color: white;
    background: linear-gradient(135deg, #50C9C3 0%, #96DEDA 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 950px) {
    .achievements__item {
        width: 30.9vw;
        height: 30.9vw;
    }
}

@media screen and (max-width: 950px) {
    .achievements__item {
        padding: 5px;
    }
}

.achievements__item:first-child {
    background: linear-gradient(135deg, #EB3349 0%, #F45C43 100%);
}

.achievements-row:last-child .achievements__item:last-child {
    color: black;
    background: #FFFFFF;
}

p.achievements__item__number {
    font-family: Manrope-Number;
    font-size: 5.5rem;
    user-select: none;
}

@media screen and (max-width: 1250px) {
    p.achievements__item__number {
        font-size: 4rem;
    }
}

@media screen and (max-width: 650px) {
    p.achievements__item__number {
        font-size: 2rem;
    }
}

p.achievements__item__text {
    font-family: Montserrat-Medium;
    font-size: 2.3rem;
    user-select: none;
}

@media screen and (max-width: 1250px) {
    p.achievements__item__text {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 650px) {
    p.achievements__item__text {
        font-size: .9rem;
    }
}

/* Partners */
article#partners {
    padding-bottom: 0px;
}



.partners-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



@media (max-width: 820px) { 
    a.parters-grid__item {
        width: 15%;
    }
    a.parters-grid__item p {
        font-size: 12px;
    }
    .partners-grid {
        margin-top: -50px;
    }
}

a.parters-grid__item {
    margin: 40px 20px;
    width: 20%;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

a.parters-grid__item:hover p{
    color: #FFE040;
}

a.parters-grid__item p {
    margin-top: 30px;
    color: #5A6384;
    font-family: Montserrat-Bold;
    text-align: center;
    transition: .5s;
}

.partner-grid__item_become {
    padding-top: 10px;
}

.partner-grid__item_become div {
    width: 65px;
    height: 65px;
    background: white;
    border-radius: 50%;
    position: relative;
}

.partner-grid__item_become div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parters-grid__item_deviated {
    padding-top: 10px;
}

/* Future */

article#future {
    padding-bottom: 150px;
}

@media (max-width: 600px) { 
    article#future {
        padding-bottom: 50px;
    }
}

.plans {
    margin-left: -100px;
}

@media (max-width: 830px) { 
    .plans {
        margin-top: -50px;
    }
}

@media (max-width: 1210px) { 
    .plans {
        margin-left: 0;
    }
}

.plans__year {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.plans__year__text {
    max-width: 50%;
}

@media (max-width: 830px) { 
    .plans__year__text {
        max-width: 100%;
    }
}

.plans__year__text h3 {
    font-size: 200px;
    font-family: Manrope-Number;
    color: white;
}

@media (max-width: 1050px) { 
    .plans__year__text h3 {
        font-size: 100px;
    }
}

.plans__year__text ul {
    list-style-type: none;
}

.plans__year__text li {
    font-family: Montserrat-Medium;
    font-size: 28px;
    margin-bottom: 30px;
}

@media (max-width: 600px) { 
    .plans__year__text li {
        font-size: 20px;
    }
}

.plans__year__img {
    width: 50%;
    z-index: 5;
}

@media (max-width: 830px) { 
    .plans__year__img {
        display: none;
    }
}


.plans__year__text_red ul li {
    color: #F06060;
}

.plans__year__text_yellow ul li {
    color: #F3B562;
}

.plans__year__text_green ul li {
    color: #8CBEB2;
}

/* Footer */
footer {
    background: #000;
    padding-bottom: 190px;
}

@media (max-width: 600px) { 
    footer {
        padding-bottom: 100px;
    }
}

.footer-info {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

a.footer-info__email {
    display: block;
    color: #FFE040;
    margin-top: -50px;
    font-size: 2rem;
    font-family: Montserrat-Medium;
    margin-bottom: 110px;
    cursor: pointer;
    transition: .5s;
    line-height: 4rem;
}

a.footer-info__email:hover {
    transform: skewY(5deg);
}

@media (max-width: 630px) { 
    a.footer-info__email {
        font-size: 22px;
        line-height: 3rem;
    }
}

@media (max-width: 430px) { 
    a.footer-info__email {
        font-size: 18px;
        line-height: 2rem;
    }
}

nav.social {
    margin: 0 auto;
    max-width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav.social a {
    cursor: pointer;
}


nav.social a svg {
    width: 40px;
    height: 40px;
    transition: .5s;
    fill: white;
}

nav.social a:hover svg {
    filter: invert(42%) sepia(1503%) saturate(800%) hue-rotate(24deg) brightness(119%) contrast(119%);
}

